/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: #fff;
}

h1 {
  font-style: italic;
  color: #f0f0f0;
}

p{
  
  margin: 0 -12 90 20px;
}
